<app-loader #loader></app-loader>
<section class="container user-list">
	<div class="row filter-row">
		<h2>Users</h2>
		<hr />
		<mat-form-field appearance="outline" class="filter">
			<i class="fas fa-search" matPreffix></i>
			<input matInput placeholder="Filter table content" [formControl]="filter" autocomplete="off">
		</mat-form-field>
	</div>
	<div class="row table-row">
		<table mat-table [dataSource]="dataSource">
			<!-- Username Column -->
			<ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.username }}</mat-cell>
			</ng-container>
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.name }}</mat-cell>
			</ng-container>
			<!-- E-mail Column -->
			<ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.email }}</mat-cell>
			</ng-container>
			<!-- City Column -->
			<ng-container matColumnDef="city">
				<mat-header-cell *matHeaderCellDef>City</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.address?.city }}</mat-cell>
			</ng-container>
			<!-- Ride in group Column -->
			<ng-container matColumnDef="ride">
				<mat-header-cell *matHeaderCellDef>Ride in group</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.rideInGroup }}</mat-cell>
			</ng-container>
			<!-- Day of the week Column -->
			<ng-container matColumnDef="days">
				<mat-header-cell *matHeaderCellDef>Day of the week</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.days ? displayDays(elem?.days) : '' }}</mat-cell>
			</ng-container>
			<!-- Posts Column -->
			<ng-container matColumnDef="posts">
				<mat-header-cell *matHeaderCellDef>Posts</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.posts?.length }}</mat-cell>
			</ng-container>
			<!-- Albums -->
			<ng-container matColumnDef="albums">
				<mat-header-cell *matHeaderCellDef>Albums</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.albums?.length }}</mat-cell>
			</ng-container>
			<!-- Photos -->
			<ng-container matColumnDef="photos">
				<mat-header-cell *matHeaderCellDef>Photos</mat-header-cell>
				<mat-cell *matCellDef="let elem">{{ elem?.photoAmount }}</mat-cell>
			</ng-container>
			<!-- Actions -->
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef></mat-header-cell>
				<mat-cell *matCellDef="let elem; let i = index">
					<i class="fas fa-trash" (click)="removeUser(i)"></i>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: columns;"></mat-row>
		</table>
	</div>
</section>