<div class="row">
	<h2>Users</h2>
	<hr />
	<mat-form-field>
		<input matInput placeholder="Filter table content" [formControl]="filter" autocomplete="off">
	</mat-form-field>
</div>
<div class="row">
	<table mat-table [dataSource]="dataSource">
		<!-- Username Column -->
		<ng-container matColumnDef="username">
			<th mat-header-cell *matHeaderCellDef>Username</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.username }}</td>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.name }}</td>
		</ng-container>
		<!-- E-mail Column -->
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef>E-mail</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.email }}</td>
		</ng-container>
		<!-- City Column -->
		<ng-container matColumnDef="city">
			<th mat-header-cell *matHeaderCellDef>City</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.address?.city }}</td>
		</ng-container>
		<!-- Ride in group Column -->
		<ng-container matColumnDef="ride">
			<th mat-header-cell *matHeaderCellDef>Ride in group</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.rideInGroup }}</td>
		</ng-container>
		<!-- Day of the week Column -->
		<ng-container matColumnDef="days">
			<th mat-header-cell *matHeaderCellDef>Day os the week</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.days }}</td>
		</ng-container>
		<!-- Posts Column -->
		<ng-container matColumnDef="posts">
			<th mat-header-cell *matHeaderCellDef>Posts</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.posts?.length }}</td>
		</ng-container>
		<!-- Albums -->
		<ng-container matColumnDef="albums">
			<th mat-header-cell *matHeaderCellDef>Albums</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.albums?.length }}</td>
		</ng-container>
		<!-- Photos -->
		<ng-container matColumnDef="photos">
			<th mat-header-cell *matHeaderCellDef>Posts</th>
			<td mat-cell *matCellDef="let elem">{{ elem?.photoAmount }}</td>
		</ng-container>
		<!-- Actions -->
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let elem">excluir</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columns"></tr>
		<tr mat-row *matRowDef="let row; columns: columns;"></tr>
	</table>
</div>