<section class="container">
	<div class="row">
		<h2>Registration</h2>
		<hr />
	</div>
	<div class="row tips">
		<div class="row">
			<div class="tip-unit" *ngFor="let tip of tips">
				<h4>{{ tip.title }}</h4>
				<div class="tip-text-group">
					<i [ngClass]="['fa-4x', tip.icon]"></i>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<form [formGroup]="form" class="user-form" (ngSubmit)="save(form.value)">
			<hr />
			<div class="row">
				<mat-form-field>
					<label class="custom-label">Username</label>
					<input matInput (focus)="focused='username'" formControlName="username" autocomplete="off">
					<mat-hint [hidden]="focused!='username'">Write your desired username</mat-hint>
					<mat-error *ngIf="username.getError('required')">Required</mat-error>
				</mat-form-field>
				<mat-form-field formGroupName="address">
					<label class="custom-label">City</label>
					<span class="optional">optional</span>
					<input matInput (focus)="focused='city'" formControlName="city" autocomplete="off">
					<mat-hint [hidden]="focused!='city'">Write the city you live</mat-hint>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field>
					<label class="custom-label">Name</label>
					<input matInput (focus)="focused='name'" formControlName="name" autocomplete="off">
					<mat-hint [hidden]="focused!='name'">Write your name</mat-hint>
					<mat-error *ngIf="username.getError('required')">Required</mat-error>
				</mat-form-field>
				<div class="flex">
					<div class="user-radio">
						<mat-label class="custom-label">Ride in group?</mat-label>
						<mat-radio-group formControlName="rideInGroup">
							<mat-radio-button *ngFor="let frequency of frequencies" [value]="frequency">
								{{ frequency }}
							</mat-radio-button>
						</mat-radio-group>
					</div>
				</div>
			</div>
			<div class="row">
				<mat-form-field>
					<label class="custom-label">E-mail</label>
					<input matInput (focus)="focused='email'" formControlName="email" autocomplete="off">
					<mat-hint [hidden]="focused!='email'">Write your e-mail</mat-hint>
					<mat-error *ngIf="email.getError('required')">Required</mat-error>
				</mat-form-field>
				<div class="flex">
					<div class="user-checkbox">
						<mat-label class="custom-label">Days of the week</mat-label>
						<mat-checkbox *ngFor="let day of weekdays" (change)="pushDay($event.checked, day)" [checked]="days.value.includes(day)">
							{{ day }}</mat-checkbox>
					</div>
				</div>
			</div>
			<div class="row">
				<button mat-button type="submit" class="btn-primary" [disabled]="form.invalid">Save</button>
				<button mat-button type="button" class="btn-ghost" (click)="clearForm()">Discard</button>
			</div>
		</form>
	</div>
</section>