@import 'variables';
@import 'mixins';

app-user-registration {
	.row > hr {
		background-color: color(whisper);
		border: none;
		height: 4px;
		margin: auto 0 auto 80px;
		width: 100%;
	}
	.tips {
		margin-bottom: 50px;
		.row { justify-content: space-between; }
		h4 {
			color: color(primary);
			font-size: 24px;
			font-weight: 400;
			margin: 0 0 20px;
		}
		i { color: color(primary); }
		p {
			color: color(dark-gray);
			font-size: 18px;
			margin: 0 0 0 20px;
			max-width: 350px;
		}
	}
	.tip-text-group {
		display: flex;
		align-items: center;
	}
	.user-form {
		margin: 0 auto;
		width: 80%;

		hr { margin-bottom: 50px; }

		.row:not(:last-of-type) { justify-content: space-between; }

		.row { padding: 8px 0; }

		.flex { align-items: center; }

		.flex, .mat-form-field { width: 45%; }

		.mat-form-field-infix { padding: 0; }

		.custom-label {
			color: color(dark-gray);
			margin: 4px;
		}

		.optional {
			color: color(_silver);
			margin-left: calc(100% - 79px);
			font-size: 12px;
		}

		.mat-input-element {
			border: 1px solid color(_silver);
			border-radius: 5px;
			margin-top: 4px;
			padding: 8px;
			width: calc(100% - 16px);
		}

		.mat-form-field-underline { display: none; }

		.mat-focused {
			.mat-input-element { border-color: color(primary); }
		}

		.mat-form-field-invalid {
			.mat-input-element { border-color: red; }
		}

		.user-checkbox > mat-label, .user-radio > mat-label {
			display: block;
			margin: 0 0 8px;
			width: 100%;
		}
		.mat-radio-button:not(:last-of-type) { margin-right: 24px; }
		.mat-checkbox { margin-right: 8px; }

		.user-radio {
			margin-top: -12px;

			.mat-radio-inner-circle,
			.mat-radio-outer-circle,
			.mat-radio-container {
				height: 24px;
				width: 24px;
			}

			.mat-radio-inner-circle { background-color: color(dark-gray); }

			.mat-radio-outer-circle {
				border-width: 1px;
				border-color: color(_silver);
			}

			.mat-radio-checked .mat-radio-outer-circle {
				border-color: color(primary);
			}

			.mat-radio-label-content { color: color(dark-gray); }
		}
		.user-checkbox {
			margin-top: -18px;
			.mat-checkbox-frame {
				border-color: color(_silver);
				border-radius: 5px;
				border-width: 1px;
			}
			.mat-checkbox-inner-container {
				height: 24px;
				width: 24px;
			}
			.mat-checkbox-checked {
				.mat-checkbox-frame { border-color: color(primary); }
				.mat-checkbox-background {
					background: none;
					margin: 1px 1px 1px 2px;
				}
				.mat-checkbox-checkmark-path {
					stroke: color(dark-gray) !important;
					stroke-dashoffset: 3;
					stroke-width: 4px;
				}
			}
			.mat-checkbox-label { color: color(dark-gray); }
		}

		.btn-primary { margin-right: 16px; }
	}

}